* {
  background-color: hsl(271, 50%, 33%);
}

h1 {
  background-color: hsl(271, 50%, 33%);
  font-size: 68px;
  height: 1.1em;
  width: 6em;
  margin: auto;
  position: sticky;
}

body {
  background-color: hsl(0, 0%, 30%);
}
h2 {
  font-size: 2em;
  padding: 10px;
  margin: 10px;
}

section {
  display: inline;
  margin: 10px;
  color: hsl(0, 0%, 70%);
  border: 2px solid hsl(0, 0%, 70%);
}

section:hover, p:hover{
  color: hsl(272, 28%, 87%);
}
ul {
  margin: 8px;
  padding: 8px;
  list-style-type: square;
  list-style-position: inside;
}

li {
  margin: 10px;
  padding: .1em;
}

main {
  display: inline-flex;
  margin: 15px;
}

footer {
  margin-top: 15px;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  color: hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 33%);
  margin: 11px; 
  padding: 10px;
}

p {
  color: hsl(0, 0%, 70%);
  padding: .5em;
}

ol li {
  padding: 1em;
  margin: 10px;
  /* display: block; */
  list-style-type: decimal;
  list-style-position: inside;
}

#topTen {
  font-size: 2em;

}

.button {
  padding: 5px;
  margin: 10px;
  height: 50px;
  font-size: 1.1em;
  background-color: hsl(271, 50%, 33%);
  color: hsl(0, 0%, 70%);
  
}
.button:hover {
  background-color: hsl(0, 0%, 70%);
  transition-duration: 0.3s;
  color: hsl(271, 50%, 33%);
}

#score {
  background-color: hsl(0, 0%, 70%);
  color: hsl(271, 50%, 33%);
  float: left;
}