* {
  background-color: rgba(66, 31, 99, 0.795);
}

h1 {
  background-color: rgba(84, 35, 131, 0.815);
  font-size: 68px;
  height: 1.1em;
  width: 6em;
  margin: auto;
}

h2 {
  font-size: 2em;
  padding: 10px;
  margin: 10px;
}

section {
  display: inline;
  margin: 10px;
  color: rgb(129, 129, 129);
}

ul {
  margin: 8px;
  padding: auto;
  list-style-type: square;
  list-style-position: inside;
}

li {
  margin: 10px;
}

main {
  display: inline-flex;
  margin: 15px;
}

ol {
  list-style-type: number;
  list-style-position: inside;
  color: rgb(177, 183, 189);
  background-color: rgba(80, 80, 80, 0.911);
  margin: auto;
  padding: 10px;
}